<h1>Books</h1>
<table >
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan="5"></th>
		</tr>
	</thead>
	<tbody>
		<% @lists.each do |list| %>
		<tr>
			<td><%= list.title %></td>
			<td><%= list.body %></td>
			<td><%= link_to "Show", bookslist_path(list.id) %></td>
			<td><%= link_to "Edit", edit_bookslist_path(list.id) %></td>
			<td><%= link_to "Destroy", destroy_bookslist_path(list.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

