<main>
	<% if flash[:notice] %>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
	<% end %>
<table>
	<tr>
		<th colspan="2"></th>
	</tr>
	<tbody>
	  <tr>
		<td class="show-title">Title:</td>
		<td><%= @book.title %></td>
	  </tr>
	  <tr>
		<td class="show-title">Body:</td>
		<td><%= @book.body %></td>
	  </tr>
	</tbody>
</table>
	<%= link_to "Edit", edit_book_path(@book.id), {class: "show-link"} %>|
	<%= link_to "Back", books_path, {class: "show-link"} %>
</main>